.about {
  @apply flex h-full w-full justify-between items-center flex-col mt-20 sm:mt-32; // overflow-x-hidden

  .about-content {
    @apply sm:pl-0 px-3 font-extrabold h-full sm:w-[700px] w-full;
    h1 {
      @apply text-headline;
    }
    h2 {
      @apply text-[42px];
    }
    p {
      @apply text-body w-full sm:text-icon-sm text-bg-dark dark:text-bg leading-normal sm:w-[700px];
      span {
        @apply text-transparent 
          bg-gradient-to-r from-primary via-secondary to-primary 
          bg-clip-text;
        background-size: 200% auto;
      }
    }
    .tech {
      @apply w-full flex flex-wrap gap-3 text-bg-dark dark:text-bg sm:w-[700px];
    }

    a {
      transition: transform 0.25s;
    }
    a:hover {
      transform: scale(120%);
    }
  }
}
