.button {
  position: relative;
  @apply text-labels shadow font-semibold
    text-bg-dark dark:text-bg
    py-[10px] px-[20px] rounded-lg ring-2
    flex items-center justify-center gap-2;
  z-index: 0;
  position: relative;

  span {
    @apply font-normal text-icon-sm;
  }
  &::before {
    content: "";
    position: absolute;
    height: 0%;
    width: 100%;
    opacity: 0;
    @apply rounded-lg ring-2 ring-inherit;
    inset: 0px;
    z-index: -1;
    transition: all 0.25s ease-out;
  }
  &:hover::before {
    opacity: 1;
    height: 100%;
  }
}
