.button {
  position: relative;
  @apply text-labels shadow font-semibold
    text-bg-dark dark:text-bg
    py-[10px] px-[20px] rounded-lg ring-2
    flex items-center justify-center gap-2;
  z-index: 0;
  position: relative;
  transition: all 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s;

  span {
    @apply font-normal text-icon-sm;
  }
}
