.markdown {
  @apply flex flex-col gap-1 max-w-[700px] w-full font-bold px-2 sm:px-0;
  h1 {
    @apply text-headline;
  }
  h3 {
    @apply text-subh;
  }
  h4 {
    @apply text-icon-sm;
  }
  ul {
    list-style: square;
  }
  li {
    @apply ml-5;
  }
  tr {
    @apply bg-off-white dark:bg-off-dark;
  }

  th,
  td {
    padding: 6px 13px;
  }
  th {
    @apply border-b border-b-primary;
  }

  table tr:nth-child(2n) {
    @apply bg-bg dark:bg-bg-dark;
  }
  img {
    @apply mt-3;
  }
  a {
    position: relative;
    @apply text-primary;
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      @apply bg-primary;
      transform-origin: bottom right;
      transition: transform 0.25s ease-in;
    }

    &:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}
