/* From uiverse.io by @G4b413l */
.card {
  @apply sm:w-[320px] max-h-[700px] shadow-lg w-full flex flex-col rounded-lg;
  transition: all 0.2s;
  position: relative;
  @apply bg-off-white dark:bg-off-dark hover:ring-4 hover:ring-primary cursor-pointer;

  .thumbnail-link {
    @apply flex w-full justify-center;
    .thumbnail {
      @apply rounded-t-lg w-full h-full grayscale transition-all;
    }
  }
}

.card-inner {
  width: inherit;
  @apply rounded-lg;
  overflow: hidden;
  background-color: transparent;
  // backdrop-filter: blur(10px);
  @apply flex flex-col gap-5 p-5;
  height: 100%;

  h1 {
    @apply text-subh font-bold;
  }
  p {
    @apply text-body;
  }
  .buttons {
    @apply flex gap-3 ml-2;
  }
  h2 {
    @apply text-body;
  }
  .technologies {
    @apply flex flex-wrap w-full gap-3 text-primary text-labels ml-2;
  }
}

.circle {
  width: 100px;
  height: 100px;
  @apply bg-gradient-radial from-primary to-transparent;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  filter: blur(20px);
  @apply dark:blur-[40px];
}

.circle:nth-child(1) {
  top: -25px;
  left: -25px;
}

.circle:nth-child(2) {
  bottom: -25px;
  right: -25px;
  animation-name: move-down1;
  @apply bg-gradient-radial from-secondary to-transparent;
}
