.contact {
  @apply h-full flex w-full justify-center items-start sm:px-0 z-0;

  .contact-form {
    @apply sm:mt-12 relative w-full sm:w-auto;

    form {
      @apply flex flex-col gap-5 sm:gap-10 w-full;
      p {
        @apply flex flex-col gap-2;
        label {
          @apply text-labels text-bg-dark dark:text-bg;
        }
        input,
        textarea {
          @apply border-2 rounded-lg border-transparent outline-none min-w-[300px] bg-off-white dark:bg-off-dark 
          px-2 py-3
          focus:border-2 focus:border-secondary focus:outline-none focus:ring-0
          hover:border-secondary hover:outline-none hover:ring-0;
          transition: border-color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s,
            color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s,
            background 0.2s cubic-bezier(0.25, 0.01, 0.25, 1) 0s;
        }
      }
      div{
        @apply sm:flex gap-5 block;
      }
    }

    .form-submitted {
      @apply flex flex-col items-center w-full gap-3;

      img {
        @apply rounded-lg w-[400px];
      }
    }
  }
}
