.home {
  @apply flex h-full w-full justify-between items-center flex-col; //mt-20 sm:mt-32
  .home-content {
    @apply pl-5 sm:pl-0 h-full flex justify-center items-center flex-col;
    p {
      @apply text-headline text-bg-dark dark:text-bg font-extrabold leading-tight;
      span {
        @apply text-transparent 
        bg-gradient-to-r from-primary via-secondary to-primary 
        bg-clip-text;
        background-size: 200% auto;
        animation: shine 1s linear infinite;
        @keyframes shine {
          to {
            background-position: 200% center;
          }
        }
      }
    }
    .buttons {
      @apply flex sm:flex-row w-full flex-col items-start gap-4 sm:items-center;
    }
  }
}
