.waves {
  position: absolute;
  bottom: 0px;
  width: 100%;
  @apply h-96;
  opacity: 0.8;
  path {
    // @apply drop-shadow-2xl;
    filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.24));
    // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}
