nav {
  .content {
    @apply flex text-labels font-bold text-bg-dark dark:text-bg items-center w-full justify-between p-4;
  }
  .links {
    @apply flex gap-16;
    a {
      position: relative;
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        @apply bg-accent;
        transform-origin: bottom right;
        transition: transform 0.25s ease-in;
      }

      &:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }
  svg {
    path {
      @apply fill-bg-dark dark:fill-bg;
    }
  }
  .line {
    @apply bg-gradient-to-r pb-[1px] dark:from-bg-dark dark:via-lineColor-dark dark:to-bg-dark
    from-bg via-bg-dark to-bg w-full;
  }
}
