nav {
  @apply hidden sm:block sm:sticky z-10 sm:top-0 shadow  backdrop-blur-md;
  .content {
    @apply flex text-labels font-semibold text-bg-dark
     dark:text-bg items-center w-full justify-between h-[60px] px-3;
  }
  .links {
    @apply flex gap-16 items-center;
    a {
      position: relative;
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        @apply bg-bg-dark dark:bg-bg;
        transform-origin: bottom right;
        transition: transform 0.25s ease-in;
      }

      &:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }
  svg {
    path {
      @apply fill-bg-dark dark:fill-bg;
    }
  }
}
