.projects {
  @apply sm:px-0 px-5 flex flex-col my-3 sm:my-10 items-center text-headline font-extrabold w-full h-full;
  .content {
    @apply flex h-full w-full flex-wrap gap-5 justify-center mt-12;
  }
  #gitlink {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      @apply bg-bg-dark dark:bg-bg;
      transform-origin: bottom right;
      transition: transform 0.5s ease-in;
    }

    &:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}
