@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,600,800,800i|Nanum+Pen+Script:400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
html {
  height: 100%;

  body {
    height: 100%;

    #root {
      height: 100%;
    }
  }
}
