@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,600,800,800i|Nanum+Pen+Script:400&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  @apply font-semibold;
}
*::selection{
  @apply bg-primary text-bg dark:text-bg-dark;
}

html {
  width: 100%;
  min-height: 100vh;
  @apply bg-bg dark:bg-bg-dark;
  scroll-behavior: smooth;

  body {
    width: 100%;
    min-height: 100vh;

    #root {
      width: 100%;
      min-height: 100vh;
    }
  }
}

h1 {
  @apply text-headline;
}
h2 {
  @apply text-subh;
}
