@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,600,800,800i|Nanum+Pen+Script:400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  @apply bg-bg dark:bg-bg-dark;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary;
}

html {
  height: 100%;
  width: 100%;
  @apply bg-bg dark:bg-bg-dark;

  body {
    height: 100%;
    width: 100%;
    @apply bg-bg dark:bg-bg-dark;
    #root {
      @apply bg-bg dark:bg-bg-dark;
      height: 100%;
      width: 100%;
    }
  }
}
